@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
:root {
    --d: 700ms;
    --e: cubic-bezier(0.19, 1, 0.22, 1);
    /* --font-sans: 'Roboto', sans-serif;
    --font-serif: 'Roboto', sans-serif; */
    --font-noto: 'Noto Sans';
    --cl1: #1b1e32;
    --cl2: #131923;
    --cl3: #ffffff;
    --cl4: #f4fc29;
}

* {
  box-sizing: border-box;
}

body {
  display: grid;
  margin: 0;
}

._main {
  font-family: var(--font-noto);
}
.f-5 {
  font-size: 20px;
  font-weight: bold;
}
.f-5 {
  font-size: 20px;
  font-weight: bold;
}
.f-4 {
  font-size: 30px;
  font-weight: bold;
}
.f-3 {
  font-size: 40px;
  font-weight: bold;
}
.f-2 {
  font-size: 45px;
  font-weight: bold;
}
.f-1 {
  font-size: 50px;
  font-weight: bold;
}
