@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
:root {
    --d: 700ms;
    --e: cubic-bezier(0.19, 1, 0.22, 1);
    /* --font-sans: 'Roboto', sans-serif;
    --font-serif: 'Roboto', sans-serif; */
    --font-noto: "Noto Sans Thai", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  display: grid;
  margin: 0;
}

/* ._main {
  margin-right: 20px;
  margin-left: 20px;
} */
