@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
:root {
    --d: 700ms;
    --e: cubic-bezier(0.19, 1, 0.22, 1);
    /* --font-sans: 'Roboto', sans-serif;
    --font-serif: 'Roboto', sans-serif; */
    --font-noto: 'Noto Sans';
}

* {
  box-sizing: border-box;
}

body {
  display: grid;
  margin: 0;
}

._main {
  font-family: var(--font-noto);
}
